<h1>Slack Team Directory</h1>

<% if member_signed_in? %>
  <%= link_to 'Log out', destroy_member_session_path, method: :delete %>
<% else %>
  <%= link_to "Log in", new_member_session_url %>
<% end %>
